// Colors - Primary //
color-bright = hsl(31, 77%, 52%)
color-dark = hsl(184, 100%, 22%)
color-very-dark = hsl(179, 100%, 13%)
// Colors - Neutral //
color-transparent = hsla(0, 0%, 100%, 0.75)
color-very-light = hsl(0, 0%, 95%)
// Fonts //
font-second = 'Big Shoulders Display', cursive
font-main = 'Lexend Deca', sans-serif
font-size-default = 15px

p
    margin: 0
h3
    margin: 0